<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div><b>Order ID:</b> <span th:text="${order.id}">1</span></div>
	<div><b>Order Date:</b> <span th:text="${order.orderDate}">12345</span></div>
	<table>
		<tr th:each="item : ${order.items}">
			<td th:text="${item.product.name}"></td>
			<td th:text="${item.product.price}"></td>
			<td th:text="${item.amount}"></td>
			<td th:text="${item.totalPrice}"></td>
		</tr>
	</table>
	<div><b>Total Price:</b> <span th:text="${order.totalPrice}">12345</span></div>
	<a th:href="@{/}">Home</a>
</body>
</html>