<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form th:action="@{/order}" method="post">
		<table>
			<tr th:each="product : ${products}">
				<td th:text="${product.name}">Item Name</td>
				<td th:text="${product.price}">Item Price</td>
				<td><input th:name="${product.id}"/></td>
			</tr>
		</table>
		<input type="submit" value="Place Order" />
	</form>
</body>
</html>